/* ESTILOS NAVBAR-NORMAL */
.Contenedor-Navbar{
  display:flex;
  /* background-color: red; */
  justify-content: space-between;
}

.Contenedor-Navbar-mobil{
  display: none;
}

/* MENÚ CON OPCIONES PARA NAVEGAR*/
.Navbar-1{
  display: flex;
  grid-auto-flow: column;
  align-items: center;
  /* background-color: brown; */
}

/*ESTILOS DE LO QUE VA DENTRO DE NAVBAR-1*/
.Navegacion{
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  /* background-color: aqua; */
} 

/*ESTILO PARA CUANDO LOS BOTONES DE NAV. ESTEN ACTIVADOS O NO LO ESTEN*/
.no-active{
  padding: 5px;
}
.active{
  border-radius: 7px;
  background-color: #e6e6e6;
}

/* REDES */
.Navbar-2{
  align-items: center;
  display: flex;
  width:200px;
  justify-content: flex-end;
  padding-top: 11px;
  /* background-color: yellow; */
}

/* Rodolfo Cuevas */
.Navbar-3{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.Navbar-redes{
  display: flex;
}

.Instagram, .Twitter, .LinkedIn{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1%;
}

.Instagram:hover{
  color: #ca2154 ;
}
.Twitter:hover{
  color: #1c96e9;
}
.LinkedIn:hover{
  color: #0270ad;
}

.Instagram-mobil, .Twitter-mobil, .LinkedIn-mobil{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.1%;
}

/*ESTILOS NAVBAR-MOBIL*/

@media (max-width : 1150px){

  .Contenedor-Navbar{
    display: none;
  }
  
  .Contenedor-Navbar-mobil{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1% ;
    margin-top: 29px;
    /* background-color: red; */
  }

  .Menu-Burger{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
  }

  .Hamburgueza{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
  }

  .Navbar-1-mobil{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .Navbar-2-mobil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11px;
  }

  .Navbar-3-mobil{
    display:flex;
    align-items: center;
    justify-content: center;
  }

}