/* Version de Escritorio */

.AcercaProyectos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 40%;
    margin-left: 160px;
    margin-right: 160px;
    /* background-color: yellow; */
}

.AcercaProyectos-box{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    max-width: 500px;
    min-height: 600px;
    margin-bottom: 35px;
    background: linear-gradient(to bottom, #0075cf 0%, #1ececb 100%);
}

.AcercaProyectos-pasatiempos{
    display: flex;
    margin: 30px;
}

.Titulo{
    margin-bottom: 15px;
    text-align: center;
}

.Descripcion-Empleo{
    display: flex;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.Proyectomobil{
    display:none;
}


/* Version Mobil */

@media (max-width : 1150px){

    .Proyectonormal{
        display: none
    }

    .Proyectomobil{
        display: flex;
        flex-direction: column;
    }

    .AcercaProyectos{
        align-items: center;
    }
}

