
.Curriculum{

    min-height: 70vh;
}

/*VERSION DE ESCRITORIO*/
.CurriculumNormal{
    display: flex;
    height: 70vh;
    margin-left: 25vh;
    margin-right: 25vh;
    justify-content: center;
}

.CurriculumNormal-parte1{
    display: flex;
    min-width: 60vh;
    justify-content: center;
    align-items: center;
}


.CurriculumNormal-parte2{
    display:flex;
    min-width: 70vh;
    justify-content: flex-start;
    margin-top: 120px;
    align-items: center;
    flex-direction: column;
}

.hablamos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmailMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6px;
    margin-top: 30px;
    width: 400px;

}

.Recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
}

.Recomendacion-parte1{
    

    justify-content: center;
}

.Recomendacion-parte2{

    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.CurriculumMobil{
    display: none;
}

/*VERSION MOBIL*/

@media (max-width : 1150px){

    .CurriculumNormal{
        display: none;
    }

    .CurriculumMobil{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
  
    .CurriculumMobil-parte1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CurriculumMobil-parte2{
        display:flex;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
    }

    .Recomendacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        padding: 10px;
        margin-left: 6vh;
        margin-right: 6vh;
    }
}