
/*VERSION DE ESCRITORIO*/
.Curriculum{
    margin-top: 25px;
}


.CurriculumNormal{
    display: flex;
    margin-left: 25vh;
    margin-right: 25vh;
    padding-bottom: 50px;
    justify-content: center;
    /* border: 3px solid yellow; */
}

.CurriculumNormal-parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
}


.CurriculumNormal-parte2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hablamos{
    display: flex;
    flex-direction: column;
    align-items: center;
     /* border: 3px solid red; */
}

.EmailMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6px;
    margin-top: 10px;
    width: 400px;

}

.Recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.Recomendacion-parte1{
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.Recomendacion-parte2{

    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.Curriculum-imagen{
    display:flex;
    height: auto;
}

.CurriculumMobil{
    display: none;
}

/*VERSION MOBIL*/

@media (max-width : 1300px){

    .CurriculumNormal{
        display: none;
    }

    .Titulo{
        display: flex;
        justify-content: center;
        /* background-color: red; */
    }

    .CurriculumMobil{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
    }
  
    .CurriculumMobil-parte1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CurriculumMobil-parte2{
        display:flex;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
    }

    .Recomendacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        padding: 10px;
        margin-left: 6vh;
        margin-right: 6vh;
        margin-bottom: 50px;
    }
}