/*Div General*/
.Acerca {
    display: flex;
    min-height: 60vh;
    margin: 50px 50px 0 50px;
    justify-content: space-around;

}

/*Div 1*/
.AcercaFoto{
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: center;
    flex-direction: column;

}
/*Div 2*/
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.AcercaDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 60%;
}

.calendar{
    border-color: black;
    padding: 25px;
}


.profile-pic{
    max-width: 400px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px rgb(210, 210, 210);
}

/*VERSION MOBIL*/
@media (max-width : 1150px){
    .Acerca {
        display: flex;
        min-height: 70vh;
        margin: 20px;
        flex-direction: column;
    }

    .AcercaFoto{
        display: flex;
        min-width: 40%;
        align-items: center;
        min-height: 100%;
        justify-content: center;
        margin-bottom: 25px;
        
    }
    /*Hacer ajustable el texto para que no tengan tantas lineas */ 
    .AcercaDescripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 30px;
        min-width: 100%;
    }

    .AcercaPasatiempos{
        display: flex;
        align-items: center;
        margin-right: 2% ;
        margin-top: 2%;
        margin-left: 2%;
    }

    .AcercaPasatiempos-box{
        display: flex;
        border-radius: 5px;
        flex-direction: column;
    }

    .AcercaPasatiempos-descripcion{
        min-height: 100px;
        max-height: 250px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        overflow: auto;
        scrollbar-gutter: stable;
    }

}

@media (max-width: 600px) {

    .AcercaDescripcionTexto{
        display: block;
        max-height: 250px;
        overflow-y: scroll;
    }

    .AcercaPasatiempos-botones{
        display: flex;
        height: 120px;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .AcercaPasatiempos-botones-hijo{
        width: 40%;
    }

    .AcercaPasatiempos-descripcion{
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        overflow: auto;
        scrollbar-gutter: stable; /*Agrega el espacio del scrollbar aunque no haya scroll*/
    }

    /*Foto de perfil*/
    .profile-pic{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;   
    }
    
}