
.Acerca {
    display: flex;
    min-height: 70vh;
    margin: 20px;
    margin-left: 4%;
    margin-right: 50px;
    /* background-color: red; */
}

.AcercaFoto{
    display: flex;
    min-width: 30%;
    align-items: center;
    margin-right: 30px;
    min-height: 100%;
    justify-content: center;
    /* background-color: blue; */
}

.AcercaDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 60%;
    /* background-color: green; */
    margin-right: 4%;
}

.AcercaPasatiempos{
    display: flex;
    align-items: center;
    min-height: 40%;
    /* background-color: yellow; */
}

.AcercaPasatiempos-box{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    min-height: 320px;
}

.AcercaPasatiempos-pasatiempos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
}

.AcercaPasatiempos-botones{
    display: flex;
    justify-content: space-evenly;
}

.AcercaPasatiempos-descripcion{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}

.profile-pic{
    max-width: 400px;
    border-radius: 7px;
    box-shadow: 10px 10px 5px rgb(210, 210, 210);
}

/*VERSION MOBIL*/

@media (max-width : 1150px){
    .Acerca {
        display: flex;
        min-height: 70vh;
        margin: 20px;
        flex-direction: column;
    }

    .AcercaFoto{
        display: flex;
        min-width: 40%;
        align-items: center;
        min-height: 100%;
        justify-content: center;
        margin-bottom: 25px;
        
    }

    .AcercaDescripcion-holamundo{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 2%;
    }

    .AcercaDescripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        min-width: 100%;
    }

    .AcercaPasatiempos{
        display: flex;
        align-items: center;
        min-height: 40%;
        margin-bottom: 30px;
        margin-right: 2% ;
        margin-top: 2%;
        margin-left: 2%;
    }

    .AcercaPasatiempos-box{
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        min-height: 350px;
    }

}