html,body, #root {
  height: 100%;
}

.App {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.todo-contenido{
  
  max-width: 2000px;
  /* background-color: red; */
  margin: 0px auto;
}