html,body, #root {
  height: 100%;
}

.App {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.Contenedor-Navbar{

  display:flex;
}

.Contenedor-Navbar-mobil{
  display: none;
}

.Navbar-1{
  display:flex;
  padding-left: 15px;
  padding-top: 15px;
  align-items: center;
}

.Navbar-2{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-top: 11px;
  padding-right: 3%;
  min-height: 8vh;
  width: 100%;
}

.Navbar-redes{
  display: flex;
}

.Instagram, .Twitter, .LinkedIn{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1%;
}

.Instagram-mobil, .Twitter-mobil, .LinkedIn-mobil{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0.1%;
}


@media (max-width : 850px){

  .Contenedor-Navbar{
    display: none;
  }
  
  .Contenedor-Navbar-mobil{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1% ;
    padding-top: 3%;
  }

  .Hamburgueza{
    display: flex;
    position: absolute;
    right: 5%;
  }

  .Navbar-1-mobil{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
  }

  .Navbar-1-mobil:hover{

  }

  .Navbar-2-mobil{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 11px;
    padding-right: 3%;
    min-height: 8vh;
  }

}